<div class="login-form-box">
  <div class="login-form-box__header">
    <p>4trollz admin</p>
  </div>
  <form class="login-form-box__form" action="#">
    <label class="login-form-box__lable" for="login">Login</label>
    <input class="login-form-box__input" type="text" name="login" id="login">
    <label class="login-form-box__lable" for="password">Password</label>
    <input class="login-form-box__input" type="password" name="password" id="password">
    <button class="btn" type="submit">login</button>
  </form>
</div>  

