body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  }
  
  .login-form-box {
  width: 27rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 .2rem 1rem rgb(219, 219, 219);
  
  &__header {
  background-image: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 0.5rem 1.5rem rgb(172, 172, 172);
  width: 80%;
  margin: 0 auto;
  margin-top: -1.5rem;
  border-radius: inherit;
  color: white;
  font-size: 2rem;
  padding: .5rem 1rem;
  }
  
  &__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 2rem;
  }
  
  &__lable {
  color: rgb(105, 104, 104);
  font-size: 1.3rem;
  }
  
  &__input {
  border: none;
  border-bottom:1px solid rgb(105, 104, 104);
  margin-bottom: 2rem;
  font-size: 0.1rem;

  &:focus {
    outline: none;
    border-bottom:2px solid rgb(8, 46, 97);
    font-size: 1rem;
    }
  }
}
  
  .btn {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-image: linear-gradient(60deg, #ab47bc, #8e24aa);
  border-radius: 5px;
  border: none;
  padding: 0.5rem;

  &:focus {
    outline: none;
  }
}
  